{% extends "layout.html" %} {% block content %}

<div class="flex  w-full justify-around flex-wrap gap-10">
  <a href="/streams" class="w-[45%] h-[30vh]">
    <div
      class="w-full h-full bg-primaryHighlight text-2xl rounded-lg font-semibold hover:bg-accentDark transition-all duration-200 flex justify-center items-center"
    >
      Watch Stream
    </div></a
  >
  <a href="/notify" class="w-[45%] h-[30vh]">
    <div
      class="w-full h-full bg-primaryHighlight text-2xl rounded-lg font-semibold hover:bg-accentDark transition-all duration-200 flex justify-center items-center"
    >
      Notify
    </div></a
  >
  <a href="/logs" class="w-[45%] h-[30vh]">
    <div
      class=" w-full h-full bg-primaryHighlight text-2xl rounded-lg font-semibold hover:bg-accentDark transition-all duration-200 flex justify-center items-center"
    >
      Logs
    </div></a
  >
  <a href="/settings/respondents" class="w-[45%] h-[30vh]">
    <div
      class="w-full h-full bg-primaryHighlight text-2xl rounded-lg font-semibold hover:bg-accentDark transition-all duration-200 flex justify-center items-center"
    >
      Settings
    </div></a
  >
  
</div>
{% endblock content %}
