{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
    <title>Surakshak</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_preload_css %}  {% tailwind_css %}
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet" />
		{% block styling %}{% endblock %}
	</head>

	<body class="bg-gray-100 text-black font-sans p-12">
		<!-- <div class=""> -->
        {% block content %}
        {% endblock content %}
		{% block script %} {% endblock %}
		<!-- </div> -->
	</body>
</html>
