{% extends "layout.html" %}

{% block content %}
<div class="flex text-5xl font-bold mb-5">Notify</div>
<div class="max-w-md mx-auto bg-primaryHighlight shadow-md rounded-lg p-6 space-y-4">
    
<div class="flex flex-col gap-4 w-full max-w-md mx-auto p-4">
    
<button
class="w-full py-6 px-8 bg-primaryBg text-white rounded hover:bg-accent font-bold text-xl"
onclick="sendNotification({modes:['sms','whatsapp','call','email'],incident_groups:['trespassing','fire']})"
>
Alert All
</button>

  
  <div class="grid grid-cols-2 gap-3">
    <button
      class="w-full py-6 px-8 bg-primaryBg text-white rounded hover:bg-accent"
      onClick={"sendNotification({
        modes: ['sms'],
        incident_groups: ['trespassing', 'fire']"
      }
    >
      SMS
    </button>
    
    <button
      class="w-full py-6 px-8 bg-primaryBg text-white rounded hover:bg-accent"
      onClick={"sendNotification({
        modes: ['whatsapp'],
        incident_groups: ['trespassing', 'fire']
      "}
    >
      WhatsApp
    </button>
    
    <button
      class="w-full py-6 px-8 bg-primaryBg text-white rounded hover:bg-accent"
      onClick={"sendNotification({
        modes: ['email'],
        incident_groups: ['trespassing', 'fire']
      "}
    >
      Email
    </button>
    
    <button
      class="w-full py-6 px-8 bg-primaryBg text-white rounded hover:bg-accent"
      onClick={"sendNotification({
        modes: ['call'],
        incident_groups: ['trespassing', 'fire']
      "}
    >
      Call
    </button>
  </div>
</div>
  <script>
    async function sendNotification(data) {
      
        try {
          const response = await fetch("{% url 'notify_api' %}", {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": "{{ csrf_token }}",
              },
              body: JSON.stringify(data),
            });
            const result = await response.json();
          if (result.success) {
            alert(`Notification sent!`);
          } else {
            alert(`Failed to send notifications: ${result.error}`);
          }
        } catch (error) {
          alert(`Error sending notifications: ${error}`);
        }
      }

</script>
{% endblock content %}