{% extends "layout.html" %}

{% block content %}
<div class="grid grid-cols-8 pt-3 sm:grid-cols-10 gap-8">
    <!-- Sidebar -->
    <div class="col-span-2 hidden sm:block border p-8 rounded-lg border-primaryHighlight bg-primaryHighlight ">
        <h1 class="text-5xl font-semibold text-white-800">Settings</h1>
        <ul>
            <li data-section="Respondents"
                class="mt-5 cursor-pointer border-l-2 border-transparent px-2 py-2 font-semibold transition hover:border-l-accent hover:text-accent">
                <a href="{% url 'respondents_page' %}">Respondents</a>
            </li>
            <li data-section="Camera"
                class="mt-5 cursor-pointer border-l-2 border-transparent px-2 py-2 font-semibold transition hover:border-l-accent hover:text-accent">
                <a href="{% url 'camera_page' %}">Camera</a>
            </li>
            <li data-section="Schedule"
                class="mt-5 cursor-pointer border-l-2 border-transparent px-2 py-2 font-semibold transition hover:border-l-accent hover:text-accent">
                <a href="{% url 'timings' %}">Schedule</a>
            </li>
            <li data-section="IncidentsMapping"
                class="mt-5 cursor-pointer border-l-2 border-transparent px-2 py-2 font-semibold transition hover:border-l-accent hover:text-accent">
                <a href="{% url 'incidents_mapping_page' %}">Incidents Mapping</a>
            </li>
        </ul>
    </div>

    <!-- Main Content -->
    <div class="col-span-6 sm:col-span-8">
        <div>
            {% block settings_content %}
            {% endblock settings_content %}
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const sidebarItems = document.querySelectorAll("[data-section]");

        // Highlight the active item based on the current URL
        const updateActiveItem = () => {
            const currentPath = window.location.pathname;

            sidebarItems.forEach((item) => {
                const link = item.querySelector("a");
                if (link && link.getAttribute("href") === currentPath) {
                    // Add active class to the matching item
                    item.classList.add("text-accent", "border-l-accent");
                } else {
                    // Remove active class from non-matching items
                    item.classList.remove("text-accent", "border-l-accent");
                }
            });
        };

        updateActiveItem();

        sidebarItems.forEach((item) => {
            item.addEventListener("click", () => {
                // Update the active item manually after click
                sidebarItems.forEach((i) => i.classList.remove("text-accent-700", "border-l-accent-700"));
                item.classList.add("text-accent-700", "border-l-accent-700");
            });
        });
    });
</script>
{% endblock content %}
