{% extends "layout.html" %}

{% block content %}
<div class="flex text-5xl font-bold mb-5">Stream Page</div>
<div class="flex flex-wrap justify-between">
    {% for cctv in cctvs %}
    <div class="w-[30%]">
        <!-- Make the image clickable by wrapping it in an <a> tag -->
            <a href="{% url 'single_stream_page' camera_name=cctv %}">
                <img src="{% url 'video_feed' camera_name=cctv %}" alt="CCTV {{ cctv }} Feed" class="cursor-pointer">
            </a>
            <h1 class="text-center font-bold capitalize text-xl ">{{ cctv }}</h1>
    </div>
    {% endfor %}
</div>
{% endblock content %}
